* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #a22fd0;
  color: white;
  font-family: "Poppins", sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
}

.sideBar {
  flex: 3;
  border-right: 1px solid white;
  
}

.main {
  flex: 9;
}

.logo {
  height: 6rem;
}

.brand {
  font-size: 3rem;
  
}

.upperSide {
  padding: 2.5rem;
  border-bottom: 1px solid white;
  height: 70%;
}

.upperSideTop {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.addBtn {
  height: 2rem;
  padding-right: 1rem;
}

.midBtn {
  background-color: #522FD0;
  border: none;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: .5rem;
}