* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #a22fd0;
  color: white;
  font-family: "Poppins", sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
}

.sideBar {
  flex: 3;
  border-right: 1px solid white;
  
}

.main {
  flex: 9;
}

.logo {
  height: 6rem;
  margin-right: 1rem;
}

.brand {
  font-size: 3rem;
  text-align: center;
}