* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #8005da;
  color: white;
  font-family: "Poppins", sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
}

.sideBar {
  flex: 3;
  border-right: 1px solid white;
  
}

.main {
  flex: 9;
}

.logo {
  max-height: 6rem;
}

.brand {
  font-size: 3rem;
  
}

.upperSide {
  padding: 2.5rem;
  border-bottom: 1px solid white;
  height: 70%;
}

.upperSideTop {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.addBtn {
  height: 2rem;
  padding-right: 1rem;
}

.midBtn {
  background-color: #522FD0;
  border: none;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 1rem;
}

.query {
  display: flex;
  align-items: center;
  width: 25rem;
  margin: 1rem auto;
  border-radius: 1rem;
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 1.5rem;
}

.query > img {
  margin-right: 2rem;
  height: 1.75rem;
}

.lowerSide {
  padding: 2.5rem;
}

.listItems {
  display: flex;
  align-items: center;
  margin: 2rem auto;
  font-size: 1.3rem;
}

.listItemsImg {
  margin-right: 2rem;
}

.listItems:nth-child(1)>.listItemsImg {
  margin-right: 1.5rem;
}

.listItems:nth-child(3)>.listItemsImg {
  margin-right: 1.75rem;
}

.main {
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
  margin-bottom: 0;
}

.chats {
  overflow: hidden;
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  height: calc(100vh - 17rem);
}

.chat {
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}

.chatFooter {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  padding: .5rem;
  background: #a22fd0;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
}

.input>input {
  width: calc(100% - 3rem);
  outline: none;
  padding: 1.25rem;
  color: white;
}

.input>input, .send {
  background: transparent;
  border: none;
}

.chatImg {
  object-fit: cover;
  width: 4rem;
  margin-right: 2rem;
  border-radius: 1rem; 
}

.bot {
  background: #a22fd0;
  width: fit-content;
  border-radius: 1rem;
}

.chatFooter>p {
  margin: 2rem 0;
}

.text {
  line-height: 2rem;
  color: #522FD0;
}